<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Article</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black;">
  {% if request.user.is_authenticated %}

<div class="container" style="margin-top:20px;color: aliceblue;">
  <h2 >Articles</h2>
  {% if draft_data %}
  {% for x in draft_data %}
  <form action="/article/{{x.id}}" style="margin-top:30px;" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="title"><h5>Title</h5></label>
      <input type="text" class="form-control" value="{{x.article__title}}" id="title" placeholder="Enter title" name="title">
    </div>
    <div class="form-group">
      <label for="content"><h5>Content</h5></label><br>
      <textarea id="content" name="content" class="form-control"  rows="15" cols="148" placeholder="Enter Content">{{x.article__content}}</textarea>
    </div>
    <div class="form-group">
        <label for="tag"><h5>Tags</h5></label>
        <input type="text" class="form-control" id="tag" placeholder="Enter Tags" value="{{x.article_tag}}" name="tag">
      </div>
    <button type="submit" class="btn btn-primary" name="publish" value="submit">Publish</button>
    <button type="submit" class="btn btn-info"  name="save_draft" id="save_draft" value="save">Save Draft</button>
    <a href="/" class="btn btn-warning">Cancel</a>
  </form>
  {% endfor %}
</div>

  {% else %}
  <form action="/articles" style="margin-top:30px;" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="title"><h5>Title</h5></label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
    </div>
    <div class="form-group">
      <label for="content"><h5>Content</h5></label><br>
      <textarea id="content" name="content" class="form-control" rows="15" cols="148" placeholder="Enter Content"></textarea>
    </div>
    <div class="form-group">
        <label for="tag"><h5>Tags</h5></label>
        <input type="text" class="form-control" id="tag" placeholder="Enter Tags" name="tag">
      </div>
    <button type="submit" class="btn btn-primary" name="publish" value="submit">Publish</button>
    <button type="submit" class="btn btn-info"  name="save_draft" id="save_draft" value="save">Save Draft</button>
    <a href="/" class="btn btn-warning">Cancel</a>
  </form>
  
</div>
{% endif %}
{% else %}
<div class="alert alert-danger" role="alert">
  Please Login
</div>

{% endif %}

</body>
</html>
