<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black;">
    <div class="container-fluid">

        <div class="row">
          <div class="col-sm-2" >
            <div class="header__actions">
              {% if user.is_authenticated %}
              <a href="/user_logout" class="btn btn-warning" style="margin-top:20px;">Logout</a>
              <div style="color: aliceblue;margin-top:20px;"><h4>Welcome {{request.user.first_name}}</h4></div>
              {% else %}
              <div style="margin-top:30px;"s>
              <a href="/user_registration" class="btn btn-info"  >registration</a>
            <a href="/user_login" class="btn btn-success">Login</a>
          </div>
              {% endif %}
            
          {% if article_dataa %}
        </div>
      </div>
      <div class="col-sm-8" style="border-style: ridge;color: aliceblue;">
          <h2 style="margin-top:20px;"><b>Articles</b></h2>
          <div style="margin-top:70px;">
        {% for x in article_dataa %}
        
        <div style="margin-top: 20px;"><h5>{{x.article__title}}</h5></div>
        <div><span>{{x.article__date}}</span>&nbsp;&nbsp;<span>{{x.article__user__first_name}}</span></div><br>
        <div><p>{{x.article__content}}</p></div>
        
        
        {% for key,value in all.items %}
                {% if key == x.article_id %}
                {% for i in value %}
                <span style="background-color: aliceblue; color: black;">{{i}}</span>
            {% endfor %}
            {% endif %}
                {% endfor %}
        
        {% endfor %}
        
       
        
        
      </div>
      </div>
          {% else %}
          </div>
          </div>
          <div class="col-sm-8" style="border-style: ridge;color: aliceblue;">
              <h2 style="margin-top:20px;"><b>Articles</b></h2>
              <div style="margin-top:70px;">
            {% for x in article_data %}
            <div style="margin-top: 20px;"><h5>{{x.article__title}}</h5></div>
            <div><span>{{x.article__date}}</span>&nbsp;&nbsp;<span>{{x.article__user__first_name}}</span></div><br>
            <div><p>{{x.article__content}}</p></div>
            
              {% for key,value in tag_split.items %}
                {% if key == x.article_id %}
                
                {% for i in value %}
                  <span style="background-color: aliceblue; color: black;">{{i}}</span>
            {% endfor %}
          
            {% endif %}
                {% endfor %}
            {% endfor %}

        
      <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if article_data.has_previous %}
                  
                  <a href="?page={{ article_data.previous_page_number }}" class="btn btn-success"> previous</a>&nbsp;
              {% endif %}

             

              {% if article_data.has_next %}
                  <a href="?page={{ article_data.next_page_number }}" class="btn btn-success">next</a>
                  
              {% endif %}
            </span>
            </div>
        </div>
     
           
            
            
          </div>
          </div>
          {% endif %}
          <div class="col-sm-2">
            {% if user.is_authenticated %}
              <a href="/article" class="btn btn-success" style="margin-top:20px;">Create Article</a>
              <a href="/article_draft"  class="btn btn-info" style="margin-top:20px;">Show Draft</a>
            {% endif %}
              <div style="margin-top:60px;color: aliceblue;" ><h5>Popular Tags</h5></div>
              {% for key,value in tags.items %}
              <a href="/tag_data/{{key}}" style="color: aliceblue;">{{value}} {{key}} </a><br>
              {% endfor %}
          </div>
          
        </div>
      </div>
   
</body>
</html>