<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft Article</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black;">
    <div class="container-fluid">

        <div class="row">
          <div class="col-sm-2">
            
            
        
          </div>
          <div class="col-sm-8" style="border-style: ridge;color: aliceblue;">
              <h2 style="margin-top:20px;"><b>Save Draft</b></h2>
              <div style="margin-top:70px;">
            {% for x in article_data %}
            <div class="ps-hero--blog" style="margin-top:15px;"><h5>{{x.article__title}}</h5></div>
            <div><span>{{x.article__date}}</span>&nbsp;&nbsp;<span>{{x.article__user__first_name}}</span></div><br>
            <div><p>{{x.article__content}}</p></div>
            
            
            <div style="margin-bottom:30px;">{{x.article_tag}}</div>
            <a href="draft/{{x.id}}" class="btn btn-primary">Edit Article</a>
            <a href="draft_delete/{{x.id}}" class="btn btn-danger" style="margin-left:590px;">Delete Article</a>
            {% endfor %}
            
            
          </div>
          </div>
          <div class="col-sm-2" >
            <a href="/" class="btn btn-success" style="margin-top:20px;">Articles</a>
          </div>
          
        </div>
      </div>
   
</body>
</html>